-- DropForeignKey
ALTER TABLE "auth_api_tokens" DROP CONSTRAINT "auth_api_tokens_user_id_fkey";

-- DropForeignKey
ALTER TABLE "email_verification_tokens" DROP CONSTRAINT "email_verification_tokens_user_id_fkey";

-- DropForeignKey
ALTER TABLE "hr_expense_claim_items" DROP CONSTRAINT "hr_expense_claim_items_claim_id_fkey";

-- DropForeignKey
ALTER TABLE "hr_policy_acknowledgments" DROP CONSTRAINT "hr_policy_acknowledgments_policy_id_fkey";

-- DropForeignKey
ALTER TABLE "kpi_evaluations" DROP CONSTRAINT "kpi_evaluations_kpi_template_id_fkey";

-- DropForeignKey
ALTER TABLE "login_histories" DROP CONSTRAINT "login_histories_user_id_fkey";

-- DropForeignKey
ALTER TABLE "passkeys" DROP CONSTRAINT "passkeys_user_id_fkey";

-- DropForeignKey
ALTER TABLE "password_reset_tokens" DROP CONSTRAINT "password_reset_tokens_user_id_fkey";

-- DropForeignKey
ALTER TABLE "push_device_tokens" DROP CONSTRAINT "push_device_tokens_user_id_fkey";

-- DropForeignKey
ALTER TABLE "role_access_packages" DROP CONSTRAINT "role_access_packages_role_id_fkey";

-- DropForeignKey
ALTER TABLE "saved_views" DROP CONSTRAINT "saved_views_user_id_fkey";

-- DropForeignKey
ALTER TABLE "user_group_members" DROP CONSTRAINT "user_group_members_group_id_fkey";

-- DropForeignKey
ALTER TABLE "user_group_members" DROP CONSTRAINT "user_group_members_user_id_fkey";

-- DropForeignKey
ALTER TABLE "user_groups" DROP CONSTRAINT "user_groups_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "user_identities" DROP CONSTRAINT "user_identities_user_id_fkey";

-- DropForeignKey
ALTER TABLE "user_profiles" DROP CONSTRAINT "user_profiles_department_id_fkey";

-- DropForeignKey
ALTER TABLE "user_profiles" DROP CONSTRAINT "user_profiles_manager_id_fkey";

-- DropForeignKey
ALTER TABLE "user_profiles" DROP CONSTRAINT "user_profiles_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "user_profiles" DROP CONSTRAINT "user_profiles_user_id_fkey";

-- DropForeignKey
ALTER TABLE "user_roles" DROP CONSTRAINT "user_roles_role_id_fkey";

-- DropForeignKey
ALTER TABLE "user_roles" DROP CONSTRAINT "user_roles_user_id_fkey";

-- DropForeignKey
ALTER TABLE "user_sessions" DROP CONSTRAINT "user_sessions_tenant_id_fkey";

-- DropForeignKey
ALTER TABLE "user_sessions" DROP CONSTRAINT "user_sessions_user_id_fkey";

-- DropForeignKey
ALTER TABLE "users" DROP CONSTRAINT "users_tenant_id_fkey";

-- DropIndex
DROP INDEX "field_service_dispatches_scheduled_time_idx";

-- DropIndex
DROP INDEX "form_analytics_template_id_idx";

-- DropIndex
DROP INDEX "form_analytics_tenant_id_idx";

-- AlterTable
ALTER TABLE "attendance_adjustments" ALTER COLUMN "date" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "previous_check_in" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "previous_check_out" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "new_check_in" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "new_check_out" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "employee_achievements" ALTER COLUMN "award_date" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "employee_dependents" ALTER COLUMN "date_of_birth" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "employee_promotions" ALTER COLUMN "promotion_date" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "employee_referrals" ALTER COLUMN "referral_date" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "employee_separations" ALTER COLUMN "last_working_day" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "employee_warnings" ALTER COLUMN "issued_date" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "expiry_date" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "exit_interviews" ALTER COLUMN "interview_date" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "field_service_checklists" ALTER COLUMN "items" SET DEFAULT '[]',
ALTER COLUMN "type" SET DEFAULT 'TEMPLATE';

-- AlterTable
ALTER TABLE "field_service_dispatches" DROP COLUMN "scheduled_time",
ADD COLUMN     "estimated_duration" INTEGER,
ADD COLUMN     "notes" TEXT,
ADD COLUMN     "route_polyline" TEXT,
ADD COLUMN     "scheduled_start" TIMESTAMP(3),
ADD COLUMN     "travel_distance" DOUBLE PRECISION,
ADD COLUMN     "travel_time" INTEGER;

-- AlterTable
ALTER TABLE "field_service_technicians" DROP COLUMN "skill",
DROP COLUMN "workload",
ADD COLUMN     "avatar_url" TEXT,
ADD COLUMN     "certifications" JSONB NOT NULL DEFAULT '[]',
ADD COLUMN     "completed_jobs" INTEGER NOT NULL DEFAULT 0,
ADD COLUMN     "currentStatus" TEXT NOT NULL DEFAULT 'AVAILABLE',
ADD COLUMN     "email" TEXT,
ADD COLUMN     "hourly_rate" DECIMAL(65,30) NOT NULL DEFAULT 0,
ADD COLUMN     "last_location_update" TIMESTAMP(3),
ADD COLUMN     "location_lat" DOUBLE PRECISION,
ADD COLUMN     "location_lng" DOUBLE PRECISION,
ADD COLUMN     "max_travel_radius" INTEGER NOT NULL DEFAULT 50,
ADD COLUMN     "overtime_rate" DECIMAL(65,30) NOT NULL DEFAULT 0,
ADD COLUMN     "phone" TEXT,
ADD COLUMN     "preferred_radius" INTEGER NOT NULL DEFAULT 25,
ADD COLUMN     "rating" DECIMAL(65,30) NOT NULL DEFAULT 5.0,
ADD COLUMN     "shift_end" TEXT,
ADD COLUMN     "shift_start" TEXT,
ADD COLUMN     "skills" JSONB NOT NULL DEFAULT '[]',
ADD COLUMN     "workDays" JSONB NOT NULL DEFAULT '[1,2,3,4,5]';

-- AlterTable
ALTER TABLE "field_service_tickets" ADD COLUMN     "labor_cost" DECIMAL(65,30) NOT NULL DEFAULT 0,
ADD COLUMN     "parts_cost" DECIMAL(65,30) NOT NULL DEFAULT 0,
ADD COLUMN     "total_cost" DECIMAL(65,30) NOT NULL DEFAULT 0;

-- AlterTable
ALTER TABLE "form_analytics" DROP COLUMN "avg_time_to_complete",
DROP COLUMN "completion_rate",
DROP COLUMN "created_at",
DROP COLUMN "daily_stats",
DROP COLUMN "field_stats",
DROP COLUMN "template_id",
DROP COLUMN "total_submissions",
DROP COLUMN "total_views",
ADD COLUMN     "avg_time_sec" DOUBLE PRECISION,
ADD COLUMN     "completions" INTEGER NOT NULL DEFAULT 0,
ADD COLUMN     "dailyStats" JSONB NOT NULL DEFAULT '[]',
ADD COLUMN     "deviceData" JSONB NOT NULL DEFAULT '{}',
ADD COLUMN     "fieldStats" JSONB NOT NULL DEFAULT '{}',
ADD COLUMN     "form_id" TEXT NOT NULL,
ADD COLUMN     "period" TEXT NOT NULL DEFAULT 'ALL',
ADD COLUMN     "starts" INTEGER NOT NULL DEFAULT 0,
ADD COLUMN     "submissions" INTEGER NOT NULL DEFAULT 0,
ADD COLUMN     "views" INTEGER NOT NULL DEFAULT 0;

-- AlterTable
ALTER TABLE "hr_announcements" ALTER COLUMN "starts_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "expires_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "hr_expense_claim_items" ALTER COLUMN "expense_date" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "hr_expense_claims" ALTER COLUMN "approved_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "submitted_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "reimbursed_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "hr_policies" ALTER COLUMN "effective_date" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "hr_policy_acknowledgments" ALTER COLUMN "acknowledged_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "kpi_evaluations" ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "kpi_templates" ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "offer_templates" ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "overtime_requests" ALTER COLUMN "date" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "start_time" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "end_time" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "approved_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "payroll_contributions" ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "payroll_tax_entries" ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "real_estate_leases" ADD COLUMN     "late_fee_fixed" DECIMAL(65,30) NOT NULL DEFAULT 0,
ADD COLUMN     "late_fee_percent" DECIMAL(65,30) NOT NULL DEFAULT 0;

-- AlterTable
ALTER TABLE "real_estate_maintenance_work_orders" DROP COLUMN "cost",
ADD COLUMN     "actual_cost" DECIMAL(65,30) NOT NULL DEFAULT 0,
ADD COLUMN     "assigned_to" TEXT,
ADD COLUMN     "category" TEXT NOT NULL DEFAULT 'GENERAL',
ADD COLUMN     "completed_date" TIMESTAMP(3),
ADD COLUMN     "estimated_cost" DECIMAL(65,30),
ADD COLUMN     "images" JSONB NOT NULL DEFAULT '[]',
ADD COLUMN     "is_billable" BOOLEAN NOT NULL DEFAULT true,
ADD COLUMN     "notes" TEXT,
ADD COLUMN     "partsUsed" JSONB NOT NULL DEFAULT '[]',
ADD COLUMN     "priority" TEXT NOT NULL DEFAULT 'MEDIUM',
ADD COLUMN     "requested_by" TEXT,
ADD COLUMN     "resolution" TEXT,
ADD COLUMN     "scheduled_date" TIMESTAMP(3),
ADD COLUMN     "tenant_name" TEXT,
ADD COLUMN     "title" TEXT DEFAULT '',
ADD COLUMN     "unit_id" TEXT;

-- AlterTable
ALTER TABLE "real_estate_properties" DROP COLUMN "portfolio",
ADD COLUMN     "amenities" JSONB NOT NULL DEFAULT '[]',
ADD COLUMN     "building_id" TEXT,
ADD COLUMN     "city" TEXT,
ADD COLUMN     "country" TEXT DEFAULT 'US',
ADD COLUMN     "featured" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "floor_plan" TEXT,
ADD COLUMN     "images" JSONB NOT NULL DEFAULT '[]',
ADD COLUMN     "latitude" DOUBLE PRECISION,
ADD COLUMN     "longitude" DOUBLE PRECISION,
ADD COLUMN     "portfolio_id" TEXT,
ADD COLUMN     "specs" JSONB NOT NULL DEFAULT '{}',
ADD COLUMN     "state" TEXT,
ADD COLUMN     "zip_code" TEXT;

-- AlterTable
ALTER TABLE "real_estate_tenants" ADD COLUMN     "deposit" DECIMAL(65,30) NOT NULL DEFAULT 0;

-- AlterTable
ALTER TABLE "recruitment_agencies" ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "saas_plan_prices" ADD COLUMN     "stripe_price_id" TEXT;

-- AlterTable
ALTER TABLE "saas_plans" ADD COLUMN     "superseded_by" TEXT,
ADD COLUMN     "version" INTEGER NOT NULL DEFAULT 1,
ALTER COLUMN "stripe_price_id" DROP NOT NULL;

-- AlterTable
ALTER TABLE "salary_revisions" ALTER COLUMN "effective_date" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "approved_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3);

-- AlterTable
ALTER TABLE "tenant_extension_installations" ALTER COLUMN "granted_scopes" DROP DEFAULT,
ALTER COLUMN "approved_hosts" DROP DEFAULT;

-- DropTable
DROP TABLE "api_keys";

-- DropTable
DROP TABLE "auth_api_tokens";

-- DropTable
DROP TABLE "email_verification_tokens";

-- DropTable
DROP TABLE "field_service_preventive_maintenances";

-- DropTable
DROP TABLE "mfa_push_challenges";

-- DropTable
DROP TABLE "password_reset_tokens";

-- DropTable
DROP TABLE "push_subscriptions";

-- DropTable
DROP TABLE "real_estate_commissions";

-- DropTable
DROP TABLE "roles";

-- DropTable
DROP TABLE "user_group_members";

-- DropTable
DROP TABLE "user_groups";

-- DropTable
DROP TABLE "user_identities";

-- DropTable
DROP TABLE "user_profiles";

-- DropTable
DROP TABLE "user_roles";

-- DropTable
DROP TABLE "user_sessions";

-- DropTable
DROP TABLE "users";

-- CreateTable
CREATE TABLE "tenant_feature_overrides" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "feature_key" TEXT NOT NULL,
    "overrideType" TEXT NOT NULL DEFAULT 'FLAG',
    "is_enabled" BOOLEAN,
    "limit_value" INTEGER,
    "reason" TEXT NOT NULL,
    "expires_at" TIMESTAMP(3),
    "overridden_by" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "tenant_feature_overrides_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "control_plane_audit_logs" (
    "id" TEXT NOT NULL,
    "actor_id" TEXT NOT NULL,
    "actor_role" TEXT NOT NULL,
    "target_id" TEXT,
    "action" TEXT NOT NULL,
    "details" JSONB NOT NULL DEFAULT '{}',
    "correlation_id" TEXT,
    "sequence_num" BIGSERIAL NOT NULL,
    "content_hash" TEXT NOT NULL,
    "previous_hash" TEXT NOT NULL DEFAULT '',
    "ip_address" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "control_plane_audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "control_plane_approvals" (
    "id" TEXT NOT NULL,
    "requested_by" TEXT NOT NULL,
    "approved_by" TEXT,
    "requested_action" TEXT NOT NULL,
    "target_id" TEXT,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "expires_at" TIMESTAMP(3) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "control_plane_approvals_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "control_plane_review_tasks" (
    "id" TEXT NOT NULL,
    "actor_id" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "target_id" TEXT,
    "reason" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'OPEN',
    "reviewed_by" TEXT,
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "control_plane_review_tasks_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tenant_consents" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "granted_by" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "expires_at" TIMESTAMP(3) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "tenant_consents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "impersonation_sessions" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "impersonator_id" TEXT NOT NULL,
    "target_user_id" TEXT NOT NULL,
    "consent_id" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "expires_at" TIMESTAMP(3) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "impersonation_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "metering_events" (
    "id" TEXT NOT NULL,
    "tenant_id" TEXT NOT NULL,
    "metric" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL,
    "idempotency_key" TEXT NOT NULL,
    "source" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "metering_events_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "tenant_feature_overrides_expires_at_idx" ON "tenant_feature_overrides"("expires_at");

-- CreateIndex
CREATE UNIQUE INDEX "tenant_feature_overrides_tenant_id_feature_key_key" ON "tenant_feature_overrides"("tenant_id", "feature_key");

-- CreateIndex
CREATE INDEX "control_plane_audit_logs_actor_id_idx" ON "control_plane_audit_logs"("actor_id");

-- CreateIndex
CREATE INDEX "control_plane_audit_logs_target_id_idx" ON "control_plane_audit_logs"("target_id");

-- CreateIndex
CREATE INDEX "control_plane_audit_logs_action_idx" ON "control_plane_audit_logs"("action");

-- CreateIndex
CREATE INDEX "control_plane_audit_logs_created_at_idx" ON "control_plane_audit_logs"("created_at");

-- CreateIndex
CREATE INDEX "control_plane_audit_logs_sequence_num_idx" ON "control_plane_audit_logs"("sequence_num");

-- CreateIndex
CREATE INDEX "control_plane_approvals_requested_by_idx" ON "control_plane_approvals"("requested_by");

-- CreateIndex
CREATE INDEX "control_plane_approvals_approved_by_idx" ON "control_plane_approvals"("approved_by");

-- CreateIndex
CREATE INDEX "control_plane_approvals_status_idx" ON "control_plane_approvals"("status");

-- CreateIndex
CREATE INDEX "control_plane_review_tasks_status_idx" ON "control_plane_review_tasks"("status");

-- CreateIndex
CREATE INDEX "control_plane_review_tasks_actor_id_idx" ON "control_plane_review_tasks"("actor_id");

-- CreateIndex
CREATE INDEX "tenant_consents_tenant_id_idx" ON "tenant_consents"("tenant_id");

-- CreateIndex
CREATE INDEX "tenant_consents_status_idx" ON "tenant_consents"("status");

-- CreateIndex
CREATE INDEX "impersonation_sessions_tenant_id_idx" ON "impersonation_sessions"("tenant_id");

-- CreateIndex
CREATE INDEX "impersonation_sessions_impersonator_id_idx" ON "impersonation_sessions"("impersonator_id");

-- CreateIndex
CREATE UNIQUE INDEX "metering_events_idempotency_key_key" ON "metering_events"("idempotency_key");

-- CreateIndex
CREATE INDEX "metering_events_tenant_id_metric_idx" ON "metering_events"("tenant_id", "metric");

-- CreateIndex
CREATE INDEX "crm_contract_templates_tenant_id_category_id_idx" ON "crm_contract_templates"("tenant_id", "category_id");

-- CreateIndex
CREATE INDEX "document_versions_document_id_idx" ON "document_versions"("document_id");

-- CreateIndex
CREATE INDEX "field_service_checklists_tenant_id_category_idx" ON "field_service_checklists"("tenant_id", "category");

-- CreateIndex
CREATE INDEX "field_service_dispatches_scheduled_start_idx" ON "field_service_dispatches"("scheduled_start");

-- CreateIndex
CREATE INDEX "field_service_dispatches_tenant_id_status_idx" ON "field_service_dispatches"("tenant_id", "status");

-- CreateIndex
CREATE INDEX "field_service_technicians_tenant_id_currentStatus_idx" ON "field_service_technicians"("tenant_id", "currentStatus");

-- CreateIndex
CREATE INDEX "field_service_tickets_tenant_id_category_idx" ON "field_service_tickets"("tenant_id", "category");

-- CreateIndex
CREATE INDEX "field_service_tickets_tenant_id_sla_deadline_idx" ON "field_service_tickets"("tenant_id", "sla_deadline");

-- CreateIndex
CREATE INDEX "field_service_tickets_tenant_id_created_at_idx" ON "field_service_tickets"("tenant_id", "created_at");

-- CreateIndex
CREATE INDEX "form_analytics_tenant_id_form_id_idx" ON "form_analytics"("tenant_id", "form_id");

-- CreateIndex
CREATE UNIQUE INDEX "form_analytics_tenant_id_form_id_period_key" ON "form_analytics"("tenant_id", "form_id", "period");

-- CreateIndex
CREATE INDEX "real_estate_leases_unit_id_idx" ON "real_estate_leases"("unit_id");

-- CreateIndex
CREATE INDEX "real_estate_leases_tenant_id_start_date_end_date_idx" ON "real_estate_leases"("tenant_id", "start_date", "end_date");

-- CreateIndex
CREATE INDEX "real_estate_maintenance_work_orders_vendor_id_idx" ON "real_estate_maintenance_work_orders"("vendor_id");

-- CreateIndex
CREATE INDEX "real_estate_maintenance_work_orders_tenant_id_priority_idx" ON "real_estate_maintenance_work_orders"("tenant_id", "priority");

-- CreateIndex
CREATE INDEX "real_estate_maintenance_work_orders_tenant_id_category_idx" ON "real_estate_maintenance_work_orders"("tenant_id", "category");

-- CreateIndex
CREATE INDEX "real_estate_properties_portfolio_id_idx" ON "real_estate_properties"("portfolio_id");

-- CreateIndex
CREATE INDEX "real_estate_properties_building_id_idx" ON "real_estate_properties"("building_id");

-- CreateIndex
CREATE INDEX "real_estate_properties_tenant_id_city_state_idx" ON "real_estate_properties"("tenant_id", "city", "state");

-- CreateIndex
CREATE INDEX "real_estate_tenants_tenant_id_status_idx" ON "real_estate_tenants"("tenant_id", "status");

-- CreateIndex
CREATE INDEX "stored_files_folder_id_idx" ON "stored_files"("folder_id");

-- AddForeignKey
ALTER TABLE "kpi_evaluations" ADD CONSTRAINT "kpi_evaluations_kpi_template_id_fkey" FOREIGN KEY ("kpi_template_id") REFERENCES "kpi_templates"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "stored_files" ADD CONSTRAINT "stored_files_folder_id_fkey" FOREIGN KEY ("folder_id") REFERENCES "storage_folders"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "crm_contract_templates" ADD CONSTRAINT "crm_contract_templates_category_id_fkey" FOREIGN KEY ("category_id") REFERENCES "contract_template_categories"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "education_attendance_records" ADD CONSTRAINT "education_attendance_records_attendance_id_fkey" FOREIGN KEY ("attendance_id") REFERENCES "education_attendances"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "field_service_tickets" ADD CONSTRAINT "field_service_tickets_sla_id_fkey" FOREIGN KEY ("sla_id") REFERENCES "field_service_slas"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "field_service_dispatches" ADD CONSTRAINT "field_service_dispatches_technician_id_fkey" FOREIGN KEY ("technician_id") REFERENCES "field_service_technicians"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_expense_claim_items" ADD CONSTRAINT "hr_expense_claim_items_claim_id_fkey" FOREIGN KEY ("claim_id") REFERENCES "hr_expense_claims"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "hr_policy_acknowledgments" ADD CONSTRAINT "hr_policy_acknowledgments_policy_id_fkey" FOREIGN KEY ("policy_id") REFERENCES "hr_policies"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "real_estate_properties" ADD CONSTRAINT "real_estate_properties_portfolio_id_fkey" FOREIGN KEY ("portfolio_id") REFERENCES "real_estate_portfolios"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "real_estate_properties" ADD CONSTRAINT "real_estate_properties_building_id_fkey" FOREIGN KEY ("building_id") REFERENCES "real_estate_buildings"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "real_estate_leases" ADD CONSTRAINT "real_estate_leases_unit_id_fkey" FOREIGN KEY ("unit_id") REFERENCES "real_estate_units"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "real_estate_maintenance_work_orders" ADD CONSTRAINT "real_estate_maintenance_work_orders_vendor_id_fkey" FOREIGN KEY ("vendor_id") REFERENCES "real_estate_maintenance_vendors"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- RenameIndex
ALTER INDEX "extension_invocation_usage_tenant_id_extension_id_occurred_idx" RENAME TO "extension_invocation_usage_tenant_id_extension_id_occurred__idx";

-- RenameIndex
ALTER INDEX "supplier_certifications_tenant_id_vendor_id_certification_type_" RENAME TO "supplier_certifications_tenant_id_vendor_id_certification_t_key";

